/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400;500;700');

/* <Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    /* Override browser's default link underlining */
    text-decoration: none;
    /* Override browser's default link color by inheriting color from body */ 
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #d38957;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
} 

/* Nav toggle */
#nav-toggle:checked~nav {
    display:block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Grow main element to occupy surplus space, thereby keeping the footer pushed down */
    flex: 1 0 auto;
    /* Push main element down to prevent partial occlusion by fixed header" */
    margin-top: 41px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat 70% 50% / cover;
    /* Background-color to apply in case hero-mimage fails to load */
    background-color: #d38957;
    position: relative;
}

#cover-text {
    /* Final rgba value sets an opacity in the semi-transparent range */
    background-color: rgba(211, 137, 87, 0.7);
    position: absolute;
    bottom: 20px;
    width: 80%;
    min-height: 130px;
    padding-top: 30px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
        color: #ffffff;
}

#cover-text > h2 {
    font-size: 190%;
}

#cover-text > h3 {
    font-size: 140%;
}

/* Biography section */
#biography {
    width: 90%;
    margin: 20px auto;
}

#biography h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 180%;
}

#biography-ordinary > div, #biography-extraordinary > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#biographical-notes p {
    padding: 0 20px;
}

#biographical-notes hr {
    color: #d38957;
    border-top: 1px solid #d38957;
    margin: 5px 0;
}

#circle-cover-bg {
    height: 90vw;
    max-height: 300px;
    width: 90vw;
    max-width: 300px;
    background: url("../images/biography-image.webp") no-repeat 0% 50% / cover;
    margin-bottom: 20px;
    /* Makes the square div into a circle, thus applying circular cropping to the image */
    border-radius: 50%;
}

#biography-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Meditative prayer section */
#meditative-prayer {
    height: 400px;
    width: 100%;
    background: url("../images/prayer-image.webp") no-repeat center center / cover;
    position: relative;
}

#prayer-text {
    /* Final rgba value sets an opacity in the semi-transparent range */
    background-color: rgba(211, 137, 87, 0.7);
    position: absolute;
    bottom: 20px;
    width: 80%;
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#prayer-text > h3,
#prayer-text > div {
    color: #ffffff;
}

#prayer-text > div {
    margin-top: 1rem;
}

#prayer-text p {
    font-weight: bold;
}

#stanza-amen p {
    font-style: italic;
}

/* Gallery page */
#photos > img {
    width: 100%;
    line-height: 1em;
}

#photos {
    /* Remove white space between images in the photos div */
    line-height: 0
}

/* Footer */
    #social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    } 

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
    }

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* Meditative prayer section */
    #prayer-text {
        width: 50%;
    }
    
    /* Gallery page */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 77px;
    }

    /* Hero section */
    #cover-text {
        width: 40%;
        bottom: 30px;
        min-height: 150px;
        padding-top: 40px;
        padding-left: 25px;
    }

    /* Biography section */
    #biography-ordinary,
    #biography-extraordinary {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #biography-ordinary > div,
    #biography-extraordinary > div {
        width: 75%;
    }

    #biography-extraordinary > div {
        text-align: end;
        align-self: flex-end;
    }

    /* Meditative prayer section */
    #prayer-text {
        width: 35%;
        right: 30px;
    }

    /* Gallery page */
    #photos {
        column-count: 3;
    }
} 

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #d38957;
    }

    /* Meditative prayer section */
    #prayer-text {
        width: 30%;
    }

    /* Gallery page */
    #photos {
        column-count: 4;
    }
}

/* Media query: large screens (1200px and up) */
@media screen and (min-width: 1200px) {
    /* Biography section */
    #biographical-notes {
        display: flex;
        flex-direction: row;
    }

    #biographical-notes > div {
        flex: 1;
    }

    #biography-image {
        order: 0;
    }

    #biography-extraordinary {
        order: 1;
    }

    #biography-ordinary > div {
        align-self: flex-start;
    }

    #biography-extraordinary > div {
        align-self: flex-end;
    }

    /* Meditative prayer section */
    #prayer-text {
        width: 25%;
    }
}